<TMPL_VAR NAME=UVAR>.
<TMPL_VAR NAME=UVar>.
<TMPL_VAR NAME=uvar>.
<TMPL_VAR NAME="UVAR">.
<TMPL_VAR NAME="UVar">.
<TMPL_VAR NAME="uvar">.

<TMPL_IF NAME="UVAR">yes</TMPL_IF>.
<TMPL_IF NAME="UVar">yes</TMPL_IF>.
<TMPL_IF NAME="uvar">yes</TMPL_IF>.
<TMPL_IF NAME=UVAR>yes</TMPL_IF>.
<TMPL_IF NAME=UVar>yes</TMPL_IF>.
<TMPL_IF NAME=uvar>yes</TMPL_IF>.

<TMPL_LOOP NAME=ULOOPVAR>yes</TMPL_LOOP>.
<TMPL_LOOP NAME=ULoopVar>yes</TMPL_LOOP>.
<TMPL_LOOP NAME=uloopvar>yes</TMPL_LOOP>.
<TMPL_LOOP NAME="ULOOPVAR">yes</TMPL_LOOP>.
<TMPL_LOOP NAME="ULoopVar">yes</TMPL_LOOP>.
<TMPL_LOOP NAME="uloopvar">yes</TMPL_LOOP>.

<TMPL_VAR NAME=LVAR>.
<TMPL_VAR NAME=LVar>.
<TMPL_VAR NAME=lvar>.
<TMPL_VAR NAME="LVAR">.
<TMPL_VAR NAME="LVar">.
<TMPL_VAR NAME="lvar">.

<TMPL_IF NAME="LVAR">yes</TMPL_IF>.
<TMPL_IF NAME="LVar">yes</TMPL_IF>.
<TMPL_IF NAME="lvar">yes</TMPL_IF>.
<TMPL_IF NAME=LVAR>yes</TMPL_IF>.
<TMPL_IF NAME=LVar>yes</TMPL_IF>.
<TMPL_IF NAME=lvar>yes</TMPL_IF>.

<TMPL_LOOP NAME=LLOOPVAR>yes</TMPL_LOOP>.
<TMPL_LOOP NAME=LLoopVar>yes</TMPL_LOOP>.
<TMPL_LOOP NAME=lloopvar>yes</TMPL_LOOP>.
<TMPL_LOOP NAME="LLOOPVAR">yes</TMPL_LOOP>.
<TMPL_LOOP NAME="LLoopVar">yes</TMPL_LOOP>.
<TMPL_LOOP NAME="lloopvar">yes</TMPL_LOOP>.

<TMPL_LOOP NAME=ULOOPVAR>
<TMPL_IF NAME="__FIRST__">yes</TMPL_IF>.
<TMPL_IF NAME="__first__">yes</TMPL_IF>.
<TMPL_IF NAME="__LAST__">yes</TMPL_IF>.
<TMPL_IF NAME="__last__">yes</TMPL_IF>.
<TMPL_IF NAME="__ODD__">yes</TMPL_IF>.
<TMPL_IF NAME="__odd__">yes</TMPL_IF>.
</TMPL_LOOP>

End.
